{% extends 'base.html.twig' %}

{% block body %}
    <div class="row py-5">
        <div class="col-md-10 offset-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Oops! Something didn't work</h5>
                    <div  class="alert alert-danger text-center">
                        {{ error }}
                    </div>
                </div>
                <img class="card-img-bottom" src="/images/hulk.jpg">
            </div>
        </div>
    </div>
{% endblock %}