{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for character in characters %}
                <div class="col-md-4">
                    <img src={{ character.thumbnail.path }}.{{ character.thumbnail.extension }} class="img-thumbnail">
                    <h3 class="title">{{ character.name }}</h3>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
