{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for character in characters %}
                <div class="col-md-4">
                    <a href="/character/{{ character.id }}">
                        {% if  character.thumbnail %}
                            <img src={{ character.thumbnail.fullpath }} class="img-thumbnail">
                        {% else %}
                    <img src="images/image-not-available.jpg" class="img-thumbnail">
                        {% endif %}
                    <h3 class="title">{{ character.name }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
