<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Heroes!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                  crossorigin="anonymous">
            <link rel="stylesheet" href="/css/app.css"/>
        {% endblock %}
        <link rel="shortcut icon" href="/images/icon.ico" >
    </head>
    <body >
    <div class="container-fluid ">
        <div class="wrapper">
            <div style="position:relative;">
                <div class="row no-gutters" style="box-shadow: 0px 5px 7px 2px darkgray;">
                    <div class="col py-2">
                        <h1 class="text-center">Marvel's Heros</h1>
                    </div>
                </div>
                <div class="row no-gutters" >
                    <div class="col-xs-2 col-md-2 h-auto" style="box-shadow: 5px 5px 8px 2px darkgray;">
                        <img src="/images/marvel-left.jpg" class="img-fluid h-100 rounded">
                    </div>
                    <div class="col-xs-8 col-md-8 p-3">
                        {% block body %}
                        {% endblock %}
                    </div>
                    <div class="col-xs-2 col-md-2 h-auto" style="box-shadow: -5px 5px 8px 2px darkgray;">
                        <img src="/images/marvel-right.jpg" class="img-fluid h-100 rounded">
                    </div>
                </div>

                <footer class="footer">
                    <p class="text-muted mt-5 mb-0 text-center">Made by <a style="text-decoration: underline; color: #6c757d; font-weight: bold;" href="https://github.com/guilhermefontans/desafio-marvel">Guiherme Fontans</a></p>
                    <p class="text-muted mb-5 text-center">Data provided by Marvel. © 2019 <a style="text-decoration: underline; color: #6c757d; font-weight: bold;" href="http://marvel.com">MARVEL</a></p>
                </footer>
            </div>
        </div>
    </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-2.2.4.min.js"  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
            <script type="text/javascript" src="/js/typehead.js"></script>
            <script>
                $(document).ready(function () {
                    $('#txtHero').typeahead({
                        source: function (query, result) {
                            if (query.length < 3) {
                                return false;
                            }
                            $("#loading").show()
                            $("#txtHero").prop("disabled", true);
                            $.ajax({
                                url: '{{ (path('find_hero'))}}',
                                data : {
                                    "name": query
                                },
                                async: true,
                                dataType: "json",
                                type: "GET",
                                success: function (data) {
                                    $("#loading").hide()
                                    result($.map(data.heroes, function (item) {
                                        return item;
                                    }));
                                    $("#txtHero").prop("disabled", false);
                                }
                            });
                        }
                    });
                });
                $('#txtHero.typeahead').on('change', function (e) {
                    if(! $("#txtHero").data()) {
                        $("#goToHero").prop("disabled", true);
                        return false;
                    }
                    var id = $("#txtHero").data().active.id
                    var abc = id ? true : false;
                    $("#goToHero").prop("disabled", false)
                })
              $("#goToHero").click(function(data) {
                  var id = $("#txtHero").data().active.id;
                  if (id) {
                      window.location="/character/" + id
                  }
                });
            </script>
        {% endblock %}
    </body>
</html>
